---
import Tiny from '../../components/Buttons/Tiny.astro'
import Favorite from '../../components/lists/FavoriteItem.astro'
import axios from 'axios'
import Loader from '../../components/Loader.astro'

const API_URL = import.meta.env.API_URL;

let faves = [];

if ( Astro.request.method === "GET" ) {
  try {
    const resp = await axios.get(`${API_URL}/favorites`, {
      headers: {
        "Content-Type": "application/json",
        "Authorization": Astro.cookies.get("token")?.value
      },
    });
    faves = resp?.data?.data;
  } catch (error) {
    console.log(error);
  }
}
---
<div id="favorites" class="space-y-4 flex h-full flex-col pb-12">
  <div class="grid grid-cols-2 items-center">
  <div class="text-2xl uppercase">Resaturants</div>
</div>

  <!-- MAIN -->
  <div class="outline flex h-full flex-col">
    <!-- SEARCH -->
    <div class='flex flex-row mb-2 p-4'>
    <div class='flex-grow'>
      <span class='text-xl'>Favorites</span>
    </div>
    <div class='flex-shrink flex space-x-3'>

      <div id="indicate" class='htmx-indicator'>
        <Loader />
      </div>
      <form
      hx-get="/dashboard/RestaurantSearch"
      hx-swap="innerHTML"
      hx-target="#favorites"
      >
      <Tiny label="add" type="submit" color="green"/>
      </form>
    </div>
  </div>

    <div class="flex h-full max-h-full flex-col relative outline">
      <ul class="divide-y divide-dashed scroll overflow-y-auto absolute top-0 left-0 right-0 bottom-0" id="favoritesList">
        {
          faves.length > 0 ? faves.map((fave:any, index:number) => {
            return <Favorite
                      restaurant={fave}
                      key={index + 1}
                      total={faves.length}
                    />
          }) : <div class="text-center mt-4 uppercase">No favorites yet</div>
        }
      </ul>
    </div>
  </div>
</div>