---
import DashLayout from '../../layouts/DashLayout.astro';
import Favorites from './favorites.astro';
import Watchers from './watchers.astro';

const cookie = Astro.cookies.get('token');
if (!cookie) {
  return await Astro.redirect('/login');
}

---

<DashLayout title="Dashboard">
	<main class="h-full">
		<div class="grid sm:grid-cols-12 grid-cols-1 sm:gap-28 px-12 w-full h-full">
			<div class="sm:col-span-5 col-span-1 h-full" id="favorites">
				<!-- <Favorities /> -->
        <Favorites />
			</div>
			<div
        class="sm:col-span-7 grid-cols-1"
        hx-get="/dashboard/watchers"
        hx-trigger="every 15s"
        hx-swap="innerHTML"
      >
				<Watchers />
			</div>
		</div>
    <div id="errors">

    </div>
    
	</main>
</DashLayout>