---
// @ts-nocheck
import Tiny from '../../components/Buttons/Tiny.astro'
import Watcher from '../../components/lists/WatcherItem.astro'
import axios from 'axios'
import Loader from '../../components/Loader.astro'

const API_URL = import.meta.env.API_URL;

let watchers = [];

if ( Astro.request.method === "GET" ) {
  try {
    const resp = await axios.get(`${API_URL}/watchers`, {
      headers: {
        "Content-Type": "application/json",
        "Authorization": Astro.cookies.get("token").value
      },
  });
  watchers = resp?.data?.data;
  } catch (error) {
    console.log(error);
  }
}
---

<div class="space-y-4 flex h-full flex-col pb-12">
  <div class="grid grid-cols-2 items-center">
    <div class="text-2xl uppercase">Watchers</div>
</div>

  <!-- MAIN -->
  <div class="outline flex h-full flex-col">
    <!-- SEARCH -->
    <div class='flex flex-row mb-2 p-4'>
    <div class='flex-grow'>
      <span class='text-xl'>Currently Running</span>
    </div>
    <div class='flex-shrink'>
      <form
        hx-get="/dashboard/RestaurantSearch"
        hx-swap="innerHTML"
        hx-target="#favorites"
      >
        <Tiny label="Create" type="submit"color="green">
      </form>
      <div id="indicate" class='htmx-indicator'>
        <Loader/>
      </div>
    </div>
  </div>

    <div class="flex h-full max-h-full flex-col relative outline">
      <ul 
        class="divide-y divide-dashed scroll overflow-y-auto absolute top-0 left-0 right-0 bottom-0"
        id="watchers"
        >
          { watchers?.length ? watchers.map((watcher, index) => (
            <Watcher watcher={watcher} key={index + 1} total={watchers?.length}/>
          ))
          : <div class="text-center mt-4 uppercase">No Watchers yet</div>
          }
      </ul>
    </div>
  </div>
</div>