---
import Layout from "../../layouts/Layout.astro";
import BasicInput from "../../components/inputs/BasicInput.astro";
import Primary from "../../components/Buttons/Primary.astro";

const token = Astro.url.searchParams.get("token");
const email = Astro.url.searchParams.get("email");

---

<Layout title="Reset Password">
  <main class="2xl:px-44 px-4 pt-2 xl:mt-11 mt-2 ">
    <div class="grid grid-cols-12 2xl:gap-32 xl:gap-20 gap-4 ">
      <div class="col-span-12 md:col-span-6 outline-1 outline">
        <div class="flex flex-col 2xl:px-32 2xl:mt-16 xl:px-20 xl:mt-11 lg:px-6 lg:mt-4 md:px-11 md:mt-2 mt-2 px-6 py-12 space-y-14">
          <h1 class="text-4xl font-bold uppercase">
            Reset Password
          </h1>
          <p class="text-lg">
            Enter your new password below.
          </p>
          <form 
            hx-post='/new-password/reset'
          >
            <input type="hidden" name="token" value={token} />
            <input type="hidden" name="email" value={email} />
            <BasicInput
              type="email"
              label="email"
              name="email"
              disabled={true}
              value={email}
              error={email ? false : "No email provided with token"}
            />
            <BasicInput
              type="password"
              label="password"
              name="password"
            />
            <BasicInput
              type="password"
              label="confirm password"
              name="confirmPassword"
            />
            
            <div class="mt-16">
              <Primary
                type="submit"
                label="Reset"
              />
            </div>
          </form>
        </div>
      </div>
      <div class="hidden md:flex col-span-6 outline-1 outline">
        <img src="/running-man.png" class="h-full w-full"/>
      </div>
    </div>
  </main>
</Layout>