---
const label = Astro.props.label || 'X'
---

<button class=`text-sm px-6 bg-white outline outline-red-500 hover:outline-2 hover:bg-slate-50 active:bg-red-500 active:text-white`
  type="button"
>
  {label}
</button>