---
import Layout from "../../layouts/Layout.astro";
import BasicInput from "../../components/inputs/BasicInput.astro";
import Primary from "../../components/Buttons/Primary.astro";
import axios from "axios";
const PUBLIC_API_URL = import.meta.env.PUBLIC_API_URL;


let errorMsg = false;
let success = false;

if ( Astro.request.method === "POST" ) {
  const data = await Astro.request.formData();
  const password = data.get( "password" )
  const email = data.get( "email" )
  
  try {
    const { data } = await axios({
      url: `${PUBLIC_API_URL}/resy/login`,
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "Authorization": Astro.cookies.get("token")?.value
      },
      data: {
        email,
        password
      }
    });

    success = data.message || "Success";
  } catch (error) {
    console.log(error);
    //@ts-ignore
    errorMsg = error?.response?.data?.message || "Something went wrong";
  }
}
---

<form 
  hx-post='/register/resyAuth'
>
  <BasicInput
    type="text"
    label="resy email"
    name="email"
    error={errorMsg}
  />
  <BasicInput type="password" name="password" label="resy password"  />


  <div class="mt-16">
    { !success &&
      <Primary type="submit" label="Retry"/>
    }
    {success && 

      <a href="/dashboard" class="bg-black text-white inline-flex items-center justify-center gap-x-4 w-full outline p-2 outline-white hover:outline-2 hover:outline-black hover:bg-slate-400 active:bg-slate-600  text-2xl">Go to dashboard</a>
      <p class="text-green-500 text-center mt-4">{success}</p>
    }
  </div>
  
</form>